<h1>{{ score }} - {{ toGo * 1000 | date:'mm:ss' }}</h1>
<button class="clicker" ng-click="add()">+</button>
<div ng-hide="started" class="center">
  <div>
    <label for="type">Duration:
            <i class="fa fa-caret-down"></i>
            <select ng-model="duration">
                <option value="0">Infinite</option>
                <option value="30">30 sec</option>
                <option value="60">1 min</option>
                <option value="120">2 min</option>
                <option value="180">3 min</option>
                <option value="-1">Custom<option>
            </select>
      </label>
  </div>
  <div ng-show="duration == -1">
    <label for="cdur">Custom duration:</label>
    <input id="cdur" ng-model="cdur" type="number" placeholder="seconds" min="0" />
  </div>
  <div ng-show="duration != -1">
    <label for="event">Event:
          <i class="fa fa-caret-down"></i>
          <select id="event" ng-model="event">
              <optgroup label="No time" ng-show="duration == 0">
                <option value="srst">FISAC consecutive tripple unders</option>
                <option value="srst">USAJR consecutive tripple unders</option>
                <option value="srst">WJR   consecutive tripple unders</option>
              </optgroup>
              <optgroup label="30 seconds" ng-show="duration == 30">
                <option value="srss">FISAC 30 sec        speed</option>
                <option value="srss">USAJR 30 sec        speed</option>
                <option value="srss">WJR   30 sec        speed</option>
                <option value="srsp">USAJR 30 sec        power</option>
              </optgroup>
              <optgroup label="1 minute" ng-show="duration == 60">
                <option value="srps">WJR   2*30 sec pair speed</option>
                <option value="srss">USAJR   60 sec      speed</option>
              </optgroup>
              <optgroup label="2 minutes" ng-show="duration == 120">
                <option value="srfs">FISAC 4*30 sec team speed</option>
                <option value="srfs">WJR   4*30 sec team speed</option>
                <option value="ddts">USAJR 3*40 sec team speed</option>
                <option value="ddts">WJR   3*40 sec team speed</option>
                <option value="ddps">USAJR 2*60 sec pair speed</option>
                <option value="ddps">WJR   2*60 sec pair speed</option>
              </optgroup>
              <optgroup label="3 minutes" ng-show="duration == 180">
                <option value="srss">FISAC   3  min      speed</option>
                <option value="srss">USAJR   3  min      speed</option>
                <option value="srss">WJR     3  min      speed</option>
                <option value="ddfs">FISAC 4*45 sec team speed</option>
              </optgroup>
          </select>
    </label>
  </div>
  <button ng-click="start()" class="mt">Start Event</button>
</div>
<div ng-show="started" class="center">
  <button ng-click="templStop()" class="mt">Stop Event</button>
</div>
