service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth.uid != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true
    }

    match /tricksSR/{document=**} {
      allow read;
      allow write: if isAdmin();
    }

    match /tricksDD/{document=**} {
      allow read;
      allow write: if isAdmin();
    }

    match /tricksWH/{document=**} {
      allow read;
      allow write: if isAdmin();
    }

    match /globalnotices/{document=**} {
      allow read, write;
    }

    match /i18n/{lang} {
      allow read;
      allow write: if isAdmin();
      match /tricktypes/{doc} {
        allow read;
        allow write: if isAdmin();
      }
      match /tricks/{trick} {
        allow read;
        allow write: if isAdmin();
      }
      match /android/translated {
        allow read;
        allow write: if isAdmin();
      }
      match /android/untranslatable {
        allow read, write: if isAdmin();
      }
    }

    match /speed/{document=**} {
      allow create: if request.auth.uid == request.resource.data.uid;
      allow read, write, delete: if request.auth.uid == resource.data.uid;
    }
    match /users/{uid} {
      allow read: if request.auth.uid == uid;
      allow write: if request.auth.uid == uid
                   && request.resource.data.admin == resource.data.admin
                   && request.resource.data.verifier == resource.data.verifier
                   && request.resource.data.translator == resource.data.translator;
    }

    match /products/{document=**} {
      allow read;
      allow write: if isAdmin();
    }
    match /orders/{document=**} {
      allow read: if isAdmin();
      allow create: if request.resource.data.keys().hasAny([
        'paid',
        'paymentIntent',
        'livemode',
        'paidItems',
        'received',
        'sanitized',
        'vatVerified',
        'couponVerified',
        'receiptSent',
        'stockUpdated',
        'shipped',
        'tracking'
        ]) == false
      allow update, delete: if isAdmin();
    }
    match /shopSettings/{document=**} {
      allow read, write: if isAdmin();
    }
  }
}
