<!DOCTYPE html>
<html ng-app="trick">
<base href="/">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width , initial-scale=1" name="viewport">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="theme-color" content="#fe3500">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="/static/img/icon-ios.png">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/open-sans.css">
    <link rel="stylesheet" href="/static/css/font-awesome.css">
    <link rel="icon" href="/static/img/icon.png">
    <title>Tricktionary</title>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/angular-resource.min.js"></script>
    <script src="/static/js/angular-route.min.js"></script>
    <script src="/static/js/angular-sanitize.min.js"></script>
    <script src="/static/js/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyD07mROu__kGOuJ-0MyjtjS6R5-DiTfUpM",
            authDomain: "project-5641153190345267944.firebaseapp.com",
            databaseURL: "https://project-5641153190345267944.firebaseio.com",
            storageBucket: "project-5641153190345267944.appspot.com"
        };
        firebase.initializeApp(config);
    </script>
    <script src="/static/js/angularfire.min.js"></script>
    <!-- Local angular modules -->
    <script src="/trick.js"></script>
    <script src="/dash/dash.js"></script>
    <script src="/details/details.js"></script>
    <script src="/news/news.js"></script>
    <script src="/submit/submit.js"></script>
    <script>
        function toggleNav() {
            document.getElementsByClassName("topnav")[0].classList.toggle("responsive");
            document.getElementsByTagName("nav")[0].classList.toggle("responsive");
        }
    </script>
</head>
<body>
<nav>
    <ul class="topnav">
        <li><img src="/static/img/tricktionary2.svg"/>
            <div> Tricktionary</div>
        </li>
        <li><a ng-href="#!/dash" onclick="toggleNav()">Dashboard</a></li>
        <li><a ng-href="#!/submit" onclick="toggleNav()">Submit</a></li>
        <li><a ng-href="#!/news" onclick="toggleNav()">News</a></li>
        <li ng-if="user"><a ng-click="signOut()" onclick="toggleNav()">Sign Out</a></li>
        <li ng-if="!user"><a ng-click="signIn()" onclick="toggleNav()">Sign In</a></li>
        <li class="icon" onclick="toggleNav()">&#9776;</li>
    </ul>
</nav>

<div ng-view></div>