<h1>Contact</h1>
<div class="error center" ng-if="error.show"><span ng-bind-html="error.text"></span>
    <a class="close" ng-click="error.show = !error.show"><i class="fa fa-times-circle"></i></a>
</div>
<a ng-if="u" ng-click="$location.search('u', null)" class="back"><i class="fa fa-chevron-circle-left fa-2x"></i></a>
<div class="center" ng-if="!admin">
    <label for="name">Name:</label>
    <input id="name" type="text" placeholder="Name" ng-model="newName" ng-disabled="user.displayName"
        required/>
</div>
<div class="center" ng-hide="admin">
    <label for="type">Type:
        <i class="fa fa-caret-down"></i>
        <select id="type" ng-model="newType" required>
            <optgroup labeL="Type">
                <option>Incorrect Level</option>
                <option>General</option>
			    <option ng-if="!user.isAnonymous">Trick Submission</option>
			</optgroup>
        </select>
    </label>
</div>
<br/>

<form ng-if="newType == 'General'" ng-submit="submitGen()" class="center">
    <label for="desc">Describe your issue:</label>
    <textarea id="desc" ng-model="issue" required></textarea>
    <input type="submit" value="Submit" />
</form>

<form ng-if="newType == 'Incorrect Level'" ng-submit="submitLev()" class="center">
    <label for="id0" class="char">https://the-tricktionary.com/details/</label>
    <input type="number" id="id0" ng-model="newId0" class="char" placeholder="0" min="0"
        max="4" required/>
    <label for="id1" class="char inline">/</label>
    <input type="number" id="id1" ng-model="newId1" class="char" placeholder="0" min="0"
        required/>
    <br/>
    <label for="level" class="inline">Is Level</label>
    <input type="number" id="level" ng-model="newLvl" class="char" min="0" max="6" required/>
    <label for="org" class="inline">in</label>
    <label for="org" class="empty">
        <i class="fa fa-caret-down"></i>
        <select id="org" required>
            <option value="fisac-irsf rules">fisac-irsf rules</option>
            <option value="wjr rules">wjr rules</option>
        </select>
    </label>
    <input type="submit" value="Submit" />
</form>

<form ng-if="newType == 'Trick Submission'" ng-submit="submitTrick()" name="form"
    class="center">
    <div>
        <label for="newTrickName">Trick Name:</label>
        <input id="newTrickName" type="text" placeholder="Trick Name" ng-model="newTrickName"
            required/>
    </div>
    <div>
        <label for="newDesc">Description:</label>
        <input id="newDesc" type="text" placeholder="Description" ng-model="newDesc" required/>
    </div>
    <div>
        <label for="newVideo">Video:</label>
        <input id="newVideo" type="file" name="video" placeholder="Video" ng-model="newVideo"
            required/>
    </div>
    <div>
        <label>
		    Type:
            <i class="fa fa-caret-down"></i>
            <select id="newTrickType" ng-model="newTrickType" required>
                <optgroup label="Type">
                    <option>Basics</option>
                    <option>Multiples</option>
                    <option>Manipulation</option>
                    <option>Powers</option>
                    <option>Releases</option>
	    		</optgroup>
            </select>
        </label>
    </div>
    <ul class="list">
        <li>Videos can be of any jump rope trick, whether the trick is already in the
            Tricktionary or not.
            <li>Please record your videos in landscape</li>
            <li>Your videos can be no larger than 100Mb</li>
            <li>If you are able to record in slow motion please do!</li>
            <li>Please keep your recording as stable as possible, or set up your camera</li>
            <li>Try to find a plain background that contrasts the color of your rope</li>
    </ul>
    <input type="submit" value="Submit" />
    <div class="pc">
        <div id="pro-bar" class="pb">
            <div id="pro-lab" class="prl"></div>
        </div>
    </div>
    <p class="gray small center">
        by submitting a trick you give us a non-exclusive licensce to modify, redistribute,
        publish your submitted data without accrediting you
    </p>
    </form>

    <h1 ng-if="!admin">Your Issues</h1>
    <div ng-if="person" ng-repeat="issue in person" class="article" ng-attr-id="{{ issue.$id }}">
        <h2 ng-class="(i == issue.$id ? 'black' : '')">{{ issue.type }}</h2>
        <h2>{{ issue.trickName }}</h2>
        <h3>{{ issue.trickType }}</h3>
        <p ng-if="issue.type == 'General' || issue.type == 'Trick Submission'">{{ issue.desc }}</p>
        <p ng-if="issue.type == 'Incorrect Level'"><a ng-href="https://the-tricktionary.com/details/{{ issue.id0 }}/{{ issue.id1 }}">https://the-tricktionary.com/details/{{ issue.id0 }}/{{ issue.id1 }}</a>            should be level
            <b>{{ issue.level }}</b> in <b>{{ issue.org }}</b>
        </p>
        <a href="{{ issue.video }}" target="_blank">{{ issue.video }}</a>
        <div ng-if="issue.type != 'Trick Submission'">
            <h3 ng-if="issue.replies">Replies</h3>
            <h4 ng-repeat-start="reply in issue.replies">{{ reply.name }}</h4>
            <p ng-repeat-end>{{ reply.reply }}</p>
            <p ng-if="issue.resolved" class="gray">This issue has been closed and marked as resolved</p>
            <form ng-submit="newReply(issue, newReplyText)" class="center" ng-if="!issue.resolved && !user.isAnonymous">
                <textarea ng-model="newReplyText" placeholder="Your reply"></textarea>
                <input type="submit" value="Reply" />
            </form>
        </div>
        <div class="mt">
            <button ng-confirm-click="Do you really want to remove this issue?" confirmed-click="person.$remove(issue)"
                class="red inline"><i class="fa fa-trash-o"></i> Delete</button>
                <button ng-click="issue.resolved = true; person.$save(issue)" class="green inline"
                    ng-hide="issue.resolved" ng-if="admin"><i class="fa fa-lock"></i> Resolve</button>
                    <button ng-click="issue.resolved = false; person.$save(issue)" class="green inline"
                        ng-show="issue.resolved" ng-if="admin"><i class="fa fa-unlock"></i> Reopen</button>
        </div>
    </div>

    <div ng-repeat="person in people" ng-if="!person || admin" class="article hover pointer"
        ng-click="$location.search('u', person.$id)">
        <span>{{ person[keys(person)[0]].name }}</span>
        <span class="pr">{{ keys(person).length - 3 }}</span>
        </div>
