div.box {
  display: block;
  text-align: center;
}

div.parent {
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap;*/
  justify-content: space-between;
  align-items: stretch;
}

div.child {
  background-color: #eee;
  border-radius: 5px;
  padding: .5em .5em;
  text-align: center;
}