<h1>Submit a trick</h1>
<p ng-if="!user" class="warning">You need to be signed in to access this page, see the menu.</p>
<p>
    On this page you can submit a trick to the tricktionary, by submitting this form you give us a non-exclusive
    licensce to modify, redistribute, publish your submitted data without accrediting you
</p>
<form ng-if-end ng-submit="submit()">
    <input type="text" placeholder="Name" ng-model="newName"/>
    <input type="text" placeholder="Description" ng-model="newDesc"/>
    <input type="text" placeholder="Link to video"/>
    <label class="">
        <i class="fa fa-caret-down"></i>
        <select ng-model="newType">
            <option selected disabled>Type</option>
            <option>Basics</option>
            <option>Multiples</option>
            <option>Manipulation</option>
            <option>Powers</option>
            <option>Releases</option>
        </select>
    </label>
    <input type="submit"/>
    <!--<input type="file" ng-model="newVideo">-->
</form>

