<div ng-if="!user">
    <p>You need to be signed in to access this page </p>
    <button ng-click="signIn()">Sign In With Google</button>
</div>
<div ng-if="user">
    <button ng-click="signOut()">Sign Out</button>
</div>
<form ng-if="user" ng-submit="submit()" class="dropzone" action="#!/submit">
    <input type="text" placeholder="Name" ng-model="newName" />
    <input type="text" placeholder="Description" ng-model="newDesc" />
    <select ng-model="newType">
        <option>Basics</option>
        <option>Multiples</option>
        <option>Manipulation</option>
        <option>Powers</option>
        <option>Releases</option>
    </select>
    <input type="file" ng-model="newVideo">
</form>

