<h1>{{ trick.name }}</h1>
<h2>{{ trick.type }}</h2>
<p>{{ trick.description }}
    <a ng-href="/contact?id0={{ id0 }}&id1={{ id1 }}"><i class="fa fa-exclamation-triangle"></i> Report an issue with this trick</a>
</p>
<div class="video">
    <iframe class="video"
            ng-src="{{ trustAsResourceUrl('https://www.youtube-nocookie.com/embed/' + trick.video + '?autoplay=1&loop=1&playsinline=1&rel=0') }}"
            frameborder="0" allowfullscreen></iframe>
    <div>
        <span class="pl level"><span class="gray small">fisac-irsf Level:</span> {{ trick.irsf }}</span>
        <span class="pr level"><span class="gray small">wjr Level:</span> {{ trick.wjr }}</span>
    </div>
</div>
<div class="box mb">
    <h3 class="pl" ng-if="trick.prerequisites[0].name != 'None' || trick.prerequisites.length == 0">Prerequisites</h3>
    <a class="parent" ng-repeat="pre in trick.prerequisites" ng-href="/details/{{ pre.id0 }}/{{ pre.id1 }}"
       ng-if="pre.name != 'None'">{{ pre.name }}</a>
</div>
<br/>
<div class="box">
    <a class="parent" ng-href="/#{{ id0 + id1 }}">Back to dashboard</a>
</div>