/* Master Styles */
h1 {
  color: #333;
  font-size: 2.5em;
  margin-bottom: 0;
}

h2,h3 {
  color: #aaa;
  font-weight: lighter;
}

h1+h2 {
  margin-top: 0;
}

body {
  margin: .5em;
  padding-top: 45px;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 40px;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #fe3500;
  border-bottom: 1px solid #da1100;
  z-index: 5000;
}

nav img {
  height: 32px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: .3em;
}

nav div {
  display: inline-block;
  white-space: nowrap;
  color: #fff;
  bottom: 8px;
  top: 8px;
  font-size: 24px;
  position: absolute;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  background-color: #da1100;
  border-radius: 4px;
  float: right;
  position: relative;
  top: 6px;
  margin-right: .3em;
  color: #fff;
}

nav a:visited,a:link {
  color: #fff;
}

nav a:hover {
  color: #eee;
  background-color: #fec500;
}

div.box {
  display: block;
  text-align: center;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

div.box h3 {
  width: 100%;
  color: #444;
  font-weight: lighter;
  font-size: 1.5em;
  margin: 0;
  margin-top: 1em;
  padding: 0;
}

div.parent {
  background-color: #eee;
  border-radius: 5px;
  padding: 1em;
  text-align: center;
  margin-bottom: .5em;
  margin-right: .5em;
  min-width: 20%;
}

a.child {
  text-decoration: none;
  color: inherit;
}

.video {
  width: 50vw;
  height: 28.124vw;
}

@media all and (max-width: 800px) {
  .video {
    width: 96vw;
    height: 54vw;
  }
}

.b-l {
  position: fixed;
  bottom: 5px;
  left: 5px;
  font-size: 1.5em;
}

input[type=text] {
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 1.5em;
  width: 100%;
  text-align: center;
  -webkit-transition: border-bottom .5s;
  transition: border-bottom .5s;
}

input[type=text]:focus {
  border-bottom: 1px solid #fec500;
}

/* everywhere else */
* {
  font-family: Helvetica,Arial,sans-serif;
}