* {
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
}

/* Master Styles */
h1 {
  color         : #333;
  font-size     : 2.5em;
  margin-bottom : 0;
}

h2, h3 {
  color       : #aaa;
  font-weight : lighter;
}

h1 + h2 {
  margin-top : 0;
}

body {
  margin      : .5em;
  padding-top : 45px;
}

button {
  background-color : #eee;
  border           : none;
  padding          : 5px 10px;
  border-radius    : 4px;
  cursor           : pointer;
  cursor           : hand;
}

button:hover {
  background-color : #cfd8dc;
}

button:disabled {
  background-color : #eee;
  color            : #aaa;
  cursor           : auto;
}

/* Navigation link styles */
nav {
  position         : fixed;
  top              : 0;
  right            : 0;
  left             : 0;
  width            : 100%;
  height           : 40px;
  vertical-align   : middle;
  white-space      : nowrap;
  background-color : #fe3500;
  border-bottom    : 1px solid #da1100;
  z-index          : 5000;
}

nav ul {
  list-style-type : none;
  overflow        : hidden;
  padding         : 0;
  margin          : 0;
}

nav ul li {
  display     : inline;
  margin-top  : 6px;
  margin-left : 0 !important;
  height      : 28px;
}

nav ul li a {
  text-align      : center;
  text-decoration : none;
  transition      : 0.3s;
  color           : #fff;
}

ul.topnav li.icon {
  display : none;
  cursor  : pointer;
  cursor  : hand;
}

nav img {
  height        : 32px;
  margin-top    : 4px;
  margin-bottom : 4px;
  margin-left   : .3em;
}

nav ul li div {
  display     : inline-block;
  white-space : nowrap;
  color       : #fff;
  bottom      : 8px;
  top         : 8px;
  font-size   : 24px;
  position    : absolute;
}

nav ul li:not(:first-child) {
  padding          : 5px 10px;
  text-decoration  : none;
  display          : inline-block;
  background-color : #da1100;
  border-radius    : 4px;
  float            : right;
  top              : 6px;
  margin-right     : .3em;
  color            : #fff;
}

nav a:visited {
  color : #fff;
}

nav ul li:hover:not(:first-child) {
  color            : #eee;
  background-color : #fec500;
}

@media screen and (max-width : 500px) {
  nav.responsive {
    height : 44px;
  }

  nav ul li:not(:first-child) {
    display : none;
    padding : 3px 10px;
  }

  ul.topnav li.icon {
    float   : right;
    display : inline-block;
    color   : #fff;
  }

  ul.topnav li:not(.icon):not(:first-child) a {
    margin       : 0;
    width        : 100%;
    height       : 100%;
    padding-left : 1em;
    padding-top  : 2px;
  }

  ul.topnav.responsive {
    position : fixed;
  }

  ul.topnav.responsive li.icon {
    position : fixed;
    right    : 0;
    top      : 0;
  }

  ul.topnav.responsive li:not(.icon):not(:first-child) {
    display        : block;
    width          : 100vw;
    vertical-align : middle;
    border-radius  : 0;
    margin         : 0;
    padding        : 0;
  }

  ul.topnav.responsive li:not(.icon):not(:first-child):not(:last-child) {
    border-bottom : 1px solid #fe3500;
  }

  ul.topnav.responsive li:not(.icon):not(:first-child) a {
    display    : block;
    text-align : left;
    color      : #fff;
    font-size  : 20px;
  }
}

div.box {
  display               : block;
  text-align            : center;
  width                 : 100%;
  position              : relative;
  display               : -webkit-box;
  display               : -ms-flexbox;
  display               : flex;
  -webkit-box-orient    : horizontal;
  -webkit-box-direction : normal;
  -ms-flex-direction    : row;
  flex-direction        : row;
  -ms-flex-wrap         : wrap;
  flex-wrap             : wrap;
  -webkit-box-pack      : justify;
  -ms-flex-pack         : justify;
  justify-content       : space-between;
  -webkit-box-align     : stretch;
  -ms-flex-align        : stretch;
  align-items           : stretch;
}

div.pl {
  -webkit-box-pack : start;
  -ms-flex-pack    : start;
  justify-content  : flex-start !important;
}

h3.pl {
  text-align : left;
}

div.box h3 {
  width       : 100%;
  color       : #444;
  font-weight : lighter;
  font-size   : 1.5em;
  margin      : 0;
  margin-top  : 1em;
  padding     : 0;
}

.parent {
  background-color : #eee;
  border-radius    : 5px;
  padding          : 1em;
  text-align       : center;
  margin-bottom    : .5em;
  margin-right     : .25em;
  margin-left      : .25em;
  width            : 19%;
  text-decoration  : none;
  color            : #444;
  cursor           : pointer;
  cursor           : hand;
}

.video {
  width  : 50vw;
  height : 28.124vw;
}

@media all and (max-width : 1325px) {
  .parent {
    width : 24%;
  }
}

@media all and (max-width : 1050px) {
  .parent {
    width : 32%;
  }
}

@media all and (max-width : 970px) {
  .parent {
    width : 49%;
  }
}

@media all and (max-width : 815px) {
  .parent {
    width : 100%;
  }
}

@media all and (max-width : 800px) {
  .video {
    width  : 96vw;
    height : 54vw;
  }
}

input[type=text] {
  outline            : none;
  border             : none;
  border-bottom      : 1px solid #ccc;
  font-size          : 1.5em;
  width              : 49%;
  text-align         : center;
  -webkit-transition : border-bottom .5s;
  transition         : border-bottom .5s;
}

label {
  white-space : nowrap;
  display     : inline;
  font-size   : inherit;
  color       : #292f2f;
  width       : 100%;
  position    : relative;
  height      : 1.3em;
}

label i.fa {
  position : absolute;
  top      : 1px;
  right    : 5px;
  z-index  : 2;
}

select {
  font-size          : 1.3em;
  width              : 49%;
  height             : 1.3em;
  border-radius      : 0;
  background-color   : transparent;
  -webkit-appearance : none;
  border             : none;
  border-bottom      : 1px solid #ccc;
  -webkit-transition : border-bottom .5s;
  transition         : border-bottom .5s;
}

select {
  bottom : -1px;
}

.search-query {
  width : 100% !important;
}

input[type=text]:focus,
select:focus {
  border-bottom : 1px solid #fec500;
}

.article {
  margin-bottom  : 1em;
  padding-bottom : 1em;
}

.article:not(:last-child) {
  border-bottom : 1px solid #aaa;
}

li {
  margin-left : 2em;
}

/* everywhere else */
* {
  font-family : Helvetica, Arial, sans-serif;
}