<h1>Profile</h1>
<p>
    You can share your progress with coaches, and teams. You can also enable a public
    profile page.
</p>
<div class="center">
    <h2>Profile Page</h2>
    <p>
        You can always see your complete profile on
        <a ng-href="/profile/{{ user.uid }}">the-tricktionary.com/profile/{{ user.uid }}</a>        by enabling a public profile you will make that profile public to everyone.
        You can choose wether to show a list of tricks you've completed, your speed
        highscores or neither. If you choose neither your public profile page will
        just show the ammount of tricks you've completed. if you have your profile
        set to public you can share the above link.
    </p>
    <p>
        Speed highscores aren't yet avilable, but enabling it will prepare you for when it
        becomes.
    </p>
    <a ng-click="profileSettings.public = !profileSettings.public; profileSettings.$save()"
        class="black"><i ng-class="(profileSettings.public ? 'checked' : '')" class="checkbox"></i>        Enable public profile</a>
        <div ng-show="profileSettings.public">
            <a ng-click="profileSettings.checklist = !profileSettings.checklist; profileSettings.$save();"
                class="black"><i ng-class="(profileSettings.checklist ? 'checked' : '')" class="checkbox"></i>                Display completed tricks on your public profile page</a>
                </br>
                <a ng-click="profileSettings.speed = !profileSettings.speed; profileSettings.$save();"
                    class="black"><i ng-class="(profileSettings.speed ? 'checked' : '')" class="checkbox"></i>                    Show your speed highscores on your public profile page</a>
                    </br>
        </div>
</div>
<div>
    <h2>Add a coach</h2>
    <div class="center">
        <form ng-submit="addCoach()">
            <input type="text" placeholder="coach id" ng-model="uid" />
            <input type="submit" value="add as coach" />
        </form>
    </div>
    <h3>Your coaches</h3>
    <p>
        <ul class="list">
            <li ng-repeat="coach in coaches">{{ coach.$id }}
                <a ng-confirm-click="Do you really want to remove this person as coach?" confirmed-click="delCoach(coach.$id)"><i class="fa fa-trash-o"></i></a>
            </li>
        </ul>
    </p>
</div>
