<div>
    <h1>Event Admin Interface <span class="small">(EAI)</span></h1>
    <h3>Event ID: {{ event.$id }}</h3>
    <div>
        <label for="name">Event Name:</label>
        <input id="name" type="text" ng-model="event.name" ng-change="event.$save()"/>
    </div>
    <div>
        <label for="pools">Pools:</label>
        <input id="pools" type="number" min="0" ng-model="event.pools"
               ng-change="updateCounters()"/>
    </div>
    <h3>Assign counters</h3>
    <div ng-repeat="i in getNumber(event.pools) track by $index">
        <label for="judge{{ $index }}">
            Pool {{ $index + 1 }}
        </label>
        <label>
            <i class="fa fa-caret-down"></i>
            <select ng-change="event.$save();" ng-model="event.judges[$index]" id="judge{{ $index }}">
                <option ng-repeat="counter in scores" ng-if="counter[event.$id]">{{ counter[event.$id].judge + " " +
                    counter.$id }}</option>
            </select>
        </label>
    </div>
    <div>
        <label for="heats">Heats:</label>
        <input id="heats" type="number" min="1" ng-model="event.heats" ng-change="event.$save()"/>
    </div>
    <div>
        <label for="current">Current Heat:</label>
        <label>
            <i class="fa fa-caret-down"></i>
            <select id="current" ng-change="event.$save();" ng-model="event.current" class="sm">
                <option ng-repeat="i2 in getNumber(event.heats) track by $index">{{ $index + 1 }}</option>
            </select>
        </label>
    </div>
    <div>
        <label for="current">Timing Tracks:</label>
        <label>
            <i class="fa fa-caret-down"></i>
            <select id="org" ng-change="updateTrack" ng-model="event.org">
                <option>fisac-irsf</option>
                <option>wjr</option>
            </select>
        </label>
        <div ng-if="event.org == 'fisac-irsf'" class="mt">
            <label for="30sec">30 Seconds:
                <audio src="https://firebasestorage.googleapis.com/v0/b/project-5641153190345267944.appspot.com/o/timing%2Ffisac-irsf%2FFISAC-IRSF%20-%20Single%20Rope%20Speed%20-%2030s.mp3?alt=media&token=cafa895f-debe-4546-927b-597d6682e14b"
                       preload="auto" id="30sec" audio-js></audio>
            </label>
        </div>
    </div>
    <button class="green" ng-click="seeLive()">See Live Speed</button>
    <button ng-click="delEvent();" class="red">Delete Event</button>
</div>