<div>
    <h1>Event Admin Interface <span class="small">(EAI)</span></h1>
    <h3>Event ID: {{ event.$id }}</h3>
    <div>
        <label for="name">Event Name:</label>
        <input id="name" type="text" ng-model="event.name" ng-change="event.$save()"/>
    </div>
    <div>
        <label for="pools">Pools:</label>
        <input id="pools" type="number" min="0" ng-model="event.pools"
               ng-change="updateCounters()"/>
    </div>
    <h3>Assign counters</h3>
    <div ng-repeat="i in getNumber(event.pools) track by $index">
        <label for="judge{{ $index }}">
            Pool {{ $index + 1 }}
        </label>
        <label>
            <i class="fa fa-caret-down"></i>
            <select ng-change="event.$save();" ng-model="event.judges[$index]" id="judge{{ $index }}">
                <option ng-repeat="counter in scores" ng-if="counter[event.$id]">{{ counter[event.$id].judge + " " +
                    counter.$id }}</option>
            </select>
        </label>
    </div>
    <div>
        <label for="heats">Heats:</label>
        <input id="heats" type="number" min="1" ng-model="event.heats" ng-change="event.$save()"/>
    </div>
    <div>
        <label for="current">Current Heat:</label>
        <label>
            <i class="fa fa-caret-down"></i>
            <select id="current" ng-change="event.$save();" ng-model="event.current" class="sm">
                <option ng-repeat="i2 in getNumber(event.heats) track by $index">{{ $index + 1 }}</option>
            </select>
        </label>
    </div>
    <div>
        <label for="current">Timing Tracks:</label>
        <label>
            <i class="fa fa-caret-down"></i>
            <select id="org" ng-change="updateTrack" ng-model="event.org">
                <option>fisac-irsf</option>
                <option>wjr</option>
            </select>
        </label>
        <div ng-if="event.org == 'fisac-irsf'" class="mt">
            <label for="30sec">Single Rope Speed Sprint 30 sec:
                <audio src="https://firebasestorage.googleapis.com/v0/b/project-5641153190345267944.appspot.com/o/timing%2Ffisac-irsf%2F2016%20FISAC-IRSF%20-%20SRSS%20-%2030s.mp3?alt=media&token=fd3eba8a-ac9c-4c83-8784-3542647c442b"
                       preload="auto" id="30sec" audio-js></audio>
            </label>
            <label for="3min">Single Rope Speed Endurance 3 min:
                <audio src="https://firebasestorage.googleapis.com/v0/b/project-5641153190345267944.appspot.com/o/timing%2Ffisac-irsf%2F2016%20FISAC-IRSF%20-%20SRE%20-%20180s.mp3?alt=media&token=a1ce7452-42a2-42c1-9671-c1b48d802727"
                       preload="auto" id="3min" audio-js></audio>
            </label>
            <label for="4x30sec">Single Rope Speed Relay 4x30 sec:
                <audio src="https://firebasestorage.googleapis.com/v0/b/project-5641153190345267944.appspot.com/o/timing%2Ffisac-irsf%2F2016%20FISAC-IRSF%20-%20SRSR%20-%204x30s.mp3?alt=media&token=a44ce369-9b1a-4d8b-8501-6cbb5bc8f6e7"
                       preload="auto" id="4x30sec" audio-js></audio>
            </label>
            <label for="4x45sec">Double Dutch Speed Relay 4x45 sec:
                <audio src="https://firebasestorage.googleapis.com/v0/b/project-5641153190345267944.appspot.com/o/timing%2Ffisac-irsf%2F2016%20%20FISAC-IRSF%20-%20DDSR%20-%204x45s.mp3?alt=media&token=44e7c474-9d58-41ec-8665-a94c7bdbf219"
                       preload="auto" id="4x45sec" audio-js></audio>
            </label>
        </div>
    </div>
    <button class="green" ng-click="seeLive()">See Live Speed</button>
    <button ng-click="delEvent();" class="red">Delete Event</button>
</div>