:root {
  --l-red    : #fe3500;
  --d-red    : #da1100;
  --d-yellow : #fec500;
  --black    : #333;
  --l-black  : #292f2f;
  --m-gray   : #666;
  --d-gray   : #aaa;
  --h-gray   : #cfd8dc;
  --l-gray   : #ccc;
  --rl-gray  : #eee;
  --l-green  : #32cd32;
  --d-blue   : #008499;
  --l-blue   : #3baec4;
  --white    : #fff;
}

* {
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
}

/* Master Styles */

h1 {
  color         : var(--black);
  font-size     : 2.5em;
  margin-bottom : 0;
  text-align    : center;
}

h2,
h3 {
  color       : var(--d-gray);
  font-weight : lighter;
  text-align  : center;
}

h1 + h2 {
  margin-top : 0;
}

.small,
.small::before {
  font-size : 0.5em;
}

img {
  max-width : 100% !important;
}

body {
  margin      : .5em;
  padding-top : 45px;
  min-height  : 98vh;
  position    : relative;
}

a {
  color           : var(--d-blue);
  text-decoration : none;
}

a:hover {
  color : var(--l-blue);
}

a.pop {
  border : 1px solid var(--d-yellow);
}

ul ul {
  padding-left : 2em;
}

.foot {
  text-align : center;
  width      : 100%;
  font-size  : 11px;
}

button,
.button,
input[type=submit] {
  background-color : var(--rl-gray);
  border           : none;
  padding          : 5px 10px;
  border-radius    : 4px;
  text-decoration  : none;
  color            : var(--black);
  text-align       : center;
  cursor           : pointer;
  cursor           : hand;
}

.inline {
  display : inline !important;
}

button:hover,
.button:hover,
input[type=submit]:hover {
  background-color : var(--h-gray);
}

button:disabled,
.button:disabled {
  background-color : var(--rl-gray);
  color            : var(--d-gray);
  cursor           : auto;
}

.lg {
  width : 100% !important;
}

.s-2x {
  font-size : 2em;
}

.sm {
  width : 3em;
}

.red {
  background-color : var(--l-red);
  color            : var(--white);
  display          : block;
  padding          : 5px 5px;
}

.green {
  background : var(--l-green);
  color      : var(--white);
  display    : block;
  padding    : 5px 10px;
}

.gray {
  color : var(--d-gray)
}

.red:hover {
  background-color : var(--d-red);
}

table,
.table {
  border-collapse : collapse;
  width           : 49%;
  margin-right    : auto;
  margin-left     : auto;
}

tr:nth-child(odd) {
  background-color : var(--rl-gray);
}

td {
  padding : .3em;
}

td:nth-child(even) {
  text-align : right;
}

input[type=submit] {
  margin-top : 1em;
  width      : 50%;
  font-size  : 1.5em;
}

.center {
  text-align : center;
}

.header {
  margin-top : -45px;
}

input[type=text],
input[type=number],
input[type=url],
textarea {
  outline            : none;
  border             : none;
  border-bottom      : 1px solid var(--l-gray);
  font-size          : 1.5em;
  width              : 49%;
  padding-top        : .5em;
  -webkit-transition : border-bottom .5s;
  transition         : border-bottom .5s;
  margin             : auto;
}

textarea {
  display   : block;
  max-width : 100%;
}

.search {
  position : fixed;
  width    : 100vw;
  top      : 40px;
  right    : 0;
  left     : 0;
  z-index  : 100000;
}

.search + * {
  margin-top : 2em;
}

label {

  display   : inline;
  color     : var(--l-black);
  width     : 100%;
  position  : relative;
  height    : 1.5em;
  font-size : 1.5em;
}

label.mt {
  display    : block;
  min-height : 1.5em;
}

label i.fa {
  position      : absolute;
  top           : -6px;
  right         : 0;
  padding-top   : 7px;
  padding-right : 5px;
  width         : 2em;
  height        : 1.5em;
  z-index       : 2;
  direction     : rtl;
  background    : linear-gradient(to right, transparent, var(--white));
}

select {
  font-size          : 1.2em;
  width              : 49%;
  height             : 1.2em;
  border-radius      : 0;
  margin-top         : .5em;
  background-color   : transparent;
  -webkit-appearance : none;
  border             : none;
  position           : static;
  border-bottom      : 1px solid var(--l-gray);
  transition         : border-bottom .5s;
  outline            : 0;
  bottom             : -2px;
}

.search-query {
  width      : 100% !important;
  text-align : center !important;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=url]:focus,
select:focus,
textarea:focus {
  border-bottom : 1px solid var(--d-yellow);
}

.input-warn:focus {
  border-bottom : 1px solid var(--l-red) !important;
}

@media screen and (max-width : 560px) {
  input[type=text],
  input[type=submit],
  input[type=number],
  input[type=url],
  select,
  textarea {
    width         : 100%;
    display       : block;
    margin-bottom : .5em;
    margin-top    : 0;
  }

  label {
    display    : block;
    margin-top : .5em;
  }

  label i.fa {
    top : -2px;
  }

  label.mt {
    min-height : 3em;
  }
}

.char {
  width     : 2em;
  min-width : 2em;
  max-width : 2em;
  display   : inline !important;
}

label.char {
  display : inline;
}

/* Navigation link styles */

nav {
  position         : fixed;
  top              : 0;
  right            : 0;
  left             : 0;
  width            : 100%;
  height           : 40px;
  vertical-align   : middle;
  /*white-space      : nowrap;*/
  background-color : var(--l-red);
  border-bottom    : 1px solid var(--d-red);
  z-index          : 100050;
}

nav ul {
  list-style-type : none;
  overflow        : hidden;
  padding         : 0;
  margin          : 0;
}

nav ul li {
  display     : inline;
  margin-top  : 6px;
  margin-left : 0 !important;
  height      : 28px;
}

nav ul li a {
  text-align      : center;
  text-decoration : none;
  color           : var(--white);
  width           : 100%;
  height          : 100%;
  cursor          : pointer;
  cursor          : hand;
}

.pointer {
  cursor : pointer;
  cursor : hand;
}

nav ul li a:hover {
  color : var(--white);
}

ul.topnav li.icon {
  display : none;
  cursor  : pointer;
  cursor  : hand;
}

nav img {
  height        : 32px;
  margin-top    : 4px;
  margin-bottom : 4px;
  margin-left   : .3em;
}

.logo {
  height : 32px;
}

h3.copyright {
  margin-top : 2em;
}

nav ul li div {
  display     : inline-block;
  white-space : nowrap;
  color       : var(--white);
  top         : 8px;
  font-size   : 24px;
  position    : absolute;
}

nav ul li:not(:first-child) {
  padding          : 5px 10px;
  text-decoration  : none;
  display          : inline-block;
  background-color : var(--d-red);
  border-radius    : 4px;
  float            : right;
  top              : 6px;
  margin-right     : .3em;
  color            : var(--white);
}

nav a:visited {
  color : var(--white);
}

nav ul li:hover:not(:first-child) {
  color            : var(--rl-gray);
  background-color : var(--d-yellow);
}

.sharing {
  font-size : 2em !important;
}

@media screen and (max-width : 680px) {
  nav.responsive {
    height : 44px;
  }

  nav ul li:not(:first-child) {
    display : none;
    padding : 3px 10px;
  }

  ul.topnav li.icon {
    float   : right;
    display : inline-block;
    color   : var(--white);
  }

  ul.topnav.responsive {
    position : fixed;
  }

  ul.topnav.responsive li.icon {
    position : fixed;
    right    : 0;
    top      : 0;
  }

  ul.topnav.responsive li:not(.icon):not(:first-child) {
    display        : block;
    width          : 100vw;
    vertical-align : middle;
    height         : 3em;
    border-radius  : 0;
    margin         : 0;
    padding        : 0;
  }

  ul.topnav.responsive li:not(.icon):not(:first-child):not(:last-child) {
    border-bottom : 1px solid var(--l-red);
  }

  ul.topnav.responsive li:not(.icon):not(:first-child) a {
    display      : block;
    text-align   : left;
    color        : var(--white);
    font-size    : 2.6em;
    margin       : 0;
    width        : 100%;
    height       : 100%;
    padding-left : .1em;
    padding-top  : 2px;
  }

  .sharing {
    font-size : 6em !important;
  }

  table,
  .table {
    width : 100%;
  }

  input.table {
    width         : 100%;
    display       : block;
    margin-bottom : .5em;
    margin-top    : 0;
  }
}

/* content */

.warning {
  text-align    : center;
  display       : block;
  width         : 100%;
  color         : var(--d-red);
  border        : 1px solid var(--d-red);
  padding       : .3em;
  margin-bottom : .5em;
}

div.box {
  text-align      : center;
  width           : 100%;
  position        : relative;
  display         : flex;
  flex-direction  : row;
  flex-wrap       : wrap;
  justify-content : space-around;
  align-items     : stretch;
}

div.box-space {
  text-align      : center;
  width           : 100%;
  position        : relative;
  display         : flex;
  flex-direction  : row;
  flex-wrap       : wrap;
  justify-content : space-between;
}

div.mb {
  margin-bottom : 2em;
}

div.emb {
  margin-bottom : 5em;
}

a.em {
  padding-left : 1em;
}

h3.pl {
  text-align : left;
}

.pr {
  float : right;
}

.pl {
  float : left;
}

.pr .level {
  padding-right : .5em;
}

.level {
  font-size : 2em;
}

.gray {
  color : var(--d-gray);
}

div.box h3 {
  width       : 100%;
  color       : var(--black);
  font-weight : lighter;
  font-size   : 1.5em;
  margin      : 1em 0 0;
  padding     : 0;
  text-align  : center;
}

div.box h3:first-child {
  margin-top : 0;
}

.parent {
  background-color : var(--rl-gray);
  border-radius    : 5px;
  padding          : 1em;
  text-align       : center;
  margin-bottom    : .5em;
  margin-right     : .25em;
  margin-left      : .25em;
  width            : 19%;
  text-decoration  : none;
  color            : var(--black);
  cursor           : pointer;
  cursor           : hand;
}

.parent:hover {
  background-color : var(--l-gray);
  color            : var(--black);
}

.video {
  width        : 50vw;
  height       : 28.124vw;
  margin-right : auto;
  margin-left  : auto;
}

.warning {
  color   : var(--d-red);
  border  : 1px solid var(--d-red);
  padding : 1em;
}

@media all and (max-width : 1325px) {
  .parent {
    width : 24%;
  }
}

@media all and (max-width : 1050px) {
  .parent {
    width : 32%;
  }
}

@media all and (max-width : 970px) {
  .parent {
    width : 49%;
  }
}

@media all and (max-width : 815px) {
  .parent {
    width : 100%;
  }
}

@media all and (max-width : 800px) {
  .video {
    width  : 96vw;
    height : 54vw;
  }
}

.article {
  margin-bottom  : 1em;
  margin-right   : auto;
  margin-left    : auto;
  padding-bottom : 1em;
  max-width      : 600px;
}

.article:not(:last-child) {
  border-bottom : 1px solid var(--d-gray);
}

p {
  margin-bottom : .3em;
  max-width     : 600px;
  margin-left   : auto;
  margin-right  : auto;
  text-align    : justify;
}

img.rafiki {
  max-height : 40vh;
  float      : right;
}

li {
  margin-left : 2em;
}

.mt {
  margin-top : 1.3em;
}

.loading {
  height        : 70vh;
  align-content : center;
}

/* Charts */
.ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar, .ct-series-a .ct-slice-donut {
  stroke : var(--d-red) !important;
}

.ct-series-a .ct-slice-pie, .ct-series-a .ct-area {
  fill : var(--d-red) !important;
}

.color-a {
  color : var(--d-red);
}

.ct-series-b .ct-point, .ct-series-b .ct-line, .ct-series-b .ct-bar, .ct-series-b .ct-slice-donut {
  stroke : var(--l-red) !important;
}

.ct-series-b .ct-slice-pie, .ct-series-b .ct-area {
  fill : var(--l-red) !important;
}

.color-b {
  color : var(--l-red);
}

.ct-line {
  stroke-width : 2px !important;
}

/* everywhere else */

* {
  font-family : Helvetica, Arial, sans-serif;
}