<div ng-if="admin">
    <a ng-click="editNew = !editNew" ng-show="!editNew"><i class="fa fa-plus"></i> New Post</a>
    <form ng-submit="newArticle(); editNew = !editNew" ng-show="editNew" class="center">
        <input type="text" id="title" placeholder="Title" autofocus/>
        <textarea id="content" placeholder="content (markdown supported)" class="big"></textarea>
        <input type="submit" value="Post" />
        <a ng-click="editNew = !editNew">Cancel</a>
    </form>
</div>
<div class="article" ng-repeat="article in news | orderBy:'date':true ">
    <h1 ng-show="!edit">{{ article.title }}</h1>
    <div class="center">
        <input class="h1" type="text" ng-show="edit && admin" ng-model="article.title" placeholder="Title">
    </div>
    <h2>{{ article.date }} by {{ article.author }}</h2>
    <p marked="article.content" ng-show="!edit"></p>
    <textarea ng-model="article.content" ng-show="edit && admin" class="big" placeholder="content (markdown supported)"></textarea>
    <div class="mt">
        <button ng-if="admin" class="red inline" ng-confirm-click="Are you sure you want to delete this article?"
            confirmed-click="news.$remove(article)"><i class="fa fa-trash-o"></i> Remove</a>
        <button class="green inline" ng-click="edit = !edit" ng-show="!edit && admin"><i class="fa fa-pencil"></i> Edit</button>
        <button class="green inline" ng-click="news.$save(article); edit = !edit" ng-show="edit && admin"><i class="fa fa-save"></i> Save</button>
    </div>
</div>
