<div class="search">
    <input type="text" ng-model="trickList.search" class="search-query" id="projects_search"
           placeholder="Search (by name, prerequisites...)">
</div>
<div class="warning center" ng-if="error" ng-bind-html="error"></div>
<div class="box" ng-repeat="level in data">
    <h3 class="searchheader">Level {{ level.level }}</h3>
    <a class="parent"
       ng-href="/details/{{ level.id0 }}/{{ trick.id1 }}"
       ng-repeat="trick in level.subs | filter:trickList.search" id="{{ level.id0 + '' + trick.id1 }}"
       ng-class="level.id0 + '' + trick.id1 == anchor ? 'pop' : ''">
        {{ trick.name }}
    </a>
</div>
<h3>About the Tricktionary</h3>
<p>
    The Tricktionary is a dictionary of tricks and a swiss army knife for any rope skipping competition offering live
    speed scoring as well as well as a way to manage your competition in a comfortable way <sup>(beta)</sup>
</p>
<p>
    The tricktionary is currently available as an <a
        href="https://play.google.com/store/apps/details?id=trictionary.jumproper.com.jumpropetrictionary"
        target="_blank">Android&trade; app</a> and as this webapp, but don't worry, an iOS&trade; app is comming right
    up.
</p>
<p>
    As a few last words, if you believe this service is something that we should continue working on we present to you
    four buttons to share this site to various social medias, we won't ask you to press them but as we're still small
    it'd make a difference:<br/>
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//tricks.jumpropejam.com">
        <i class="fa fa-facebook-square sharing"></i>
    </a>
    <a target="_blank"
       href="https://twitter.com/home?status=Check%20out%20The%20Jumprope%20Tricktionary%20-%20it's%20like%20a%20dictionary,%20but%20for%20jumprope%20tricks%3A%0Ahttps%3A//tricks.jumpropejam.com%0A%23jumpropeisasport">
        <i class="fa fa-twitter-square sharing"></i>
    </a>
    <a target="_blank" href="https://plus.google.com/share?url=https%3A//tricks.jumpropejam.com">
        <i class="fa fa-google-plus-square sharing"></i>
    </a>
    <a target="_blank"
       href="mailto:?&subject=the Jump Rope Tricktionary&body=Hey!%0A%0ACheck%20out%20The%20Jumprope%20Tricktionary%20-%20it's%20like%20a%20dictionary,%20but%20for%20jumprope%20tricks%0Ahttps%3A//tricks.jumpropejam.com">
        <i class="fa fa-envelope-square sharing"></i>
    </a>
</p>
<h3>Explanation of Levels</h3>
<p>
    On some occurrences you might notice levels with a dash between two or more numbers,
    this means that the trick is actually a composition of multiple tricks,
    the first digit is the level of the first occuring trick followed by a dash and the level of the second trick,
    and so on.
</p>
<p>
    A typical example of this is a sandard <a href="/details/1/8">Pushup</a> which in fisac-irsf's rulebook is split
    into two separate tricks, one where you jump into the pushup, and one when you jump out from it.
</p>
<p>
    To report an error in the data, see the <a ng-href="/contact">Contact</a> page.
</p>