<h1>{{ (info.name ? info.name[0] + "'s": "") }} Profile</h1>
<div class="box box-center">
    <img class="profile" ng-src="{{ info.image }}" />
    <div>
        <span class="block"><b>Total:</b> {{ total(checklist) }}</span>
        <span class="block" ng-repeat="(key, level) in checklist"><b>Level {{ Number(key) + 1 }}:</b> {{ keys(level) }}</span>
    </div>
</div>

<div ng-if="profile === user.uid || info.checklist" class="box" ng-repeat="level in tricks">
    <h3 class="searchheader">Level {{ level.level }}</h3>
    <a class="parent" ng-href="/details/{{ level.id0 }}/{{ trick.id1 }}" ng-repeat="trick in level.subs | orderBy:'name'"
        ng-class="class(level.id0, trick.id1)" ng-show="checklist[level.id0][trick.id1]">
        {{ trick.name }}
        </a>
</div>
